<div class="main" align="center">
	
	<h1>Grupo de Trabajo</h1>

	<div class="panel panel-info">
		<h2>Luis Lopez Garcia</h2>
		<div>
		<h3>2290-07-9905</h3>
		</div>
		<div>
		<h3>Curso:Desarrollo WEB</h3>
		</div>
	</div>



	<div class="panel panel-info">
		<h2>Gonzalo Lopez Raxtun</h2>
		<div>
		<h3>2290-09-13562</h3>
		</div>
		<div>
		<h3>Curso:Desarrollo WEB</h3>
		</div>
	</div>
	
</div>
